<head>
  <title>ImpressTitle</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Droid+Sans|Lato:400,900' rel='stylesheet' type='text/css'>
  <% if @theme == "textured" %>
    <%= stylesheet_link_tag "impress-theme2.css", :media => "all" %>
  <% elsif @theme == "basic" %>
   <%= stylesheet_link_tag "impress-theme1.css", :media => "all" %>
  <% end %>
</head>

<body class="impress-supported">
  
<div id="impress">
    <% @num_slides.times do |n| %>
<div class="step 
        <% if @shape == "rectangle" %>
           slide                       
        <% elsif @shape == "circle" %>
           slide-circle
        <% end %>
        ">
            <h2>slide <%= n+1 %></h2>
        </div>
    <% end %>
</div>

<%= javascript_include_tag "impress" %>
<%= javascript_include_tag "impress-layouts" %>



 <% if @automated == "true" %>
       <script>
          document.addEventListener("impress:stepenter", function (e) {
              var duration = 3000;
              var timing = setTimeout(function() {
              api.next()
              }, duration);
          }, false);
          if (typeof timing !== "undefined") {
              clearTimeout(timing);
          }
      </script>
   <% end %>

<script>
  <% if @layout == "vertical" %>
    layoutVertical();
  <% elsif @layout == "linear" %>
    layoutLinear();
  <% elsif @layout == "circle" %>
    layoutCircleV2({radius: 1500 });
  <% end %>
  impress().init();
</script>
<script> var api = impress();</script>

</body>
