<head>
  <title>ImpressJsApp</title>
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "impress-theme1.css", :media => "all" %>

  <%= stylesheet_link_tag "/assets/css/toggle-switch.css" %>
  <%= stylesheet_link_tag "/assets/default.css" %>
  <%= javascript_include_tag "/assets/scripts/jquery.min.js" %>
  <!--  <%= javascript_include_tag "/assets/scripts/jquery.popline.js" %> -->
 <%= javascript_include_tag "/assets/build/jquery.popline.min.js" %> 
  <%= javascript_include_tag "/assets/scripts/colors.js" %>
  <%= javascript_include_tag "/assets/scripts/img.js" %>

 


    <script type="text/javascript">

    $(function(){
      document.execCommand('defaultParagraphSeparator', false, 'p');
      $(".editor").popline({position: 'fixed'});
      $("body").data("mode", "edit");
    });

  </script> 
  <style>
  .slide { z-index: 1;  }

  </style>
</head>

<body>
<nav>
  <ul class="slides-representation">
   <% @num_slides.times do |n| %>  
      <li class="slide-rep" data-loc="slide<%=n+1%>"><%=n+1%></li>
   <% end %>
  </ul>
</nav>

  <div class="container-fluid" id="sortable">
      <% @num_slides.times do |n| %>  
        <div class="step slide">
          <!-- <div>DROP!<button onclick="document.querySelector('input').click()">Or click</button></div> -->
          <input style="visibility: collapse; width: 0px;" type="file" onchange="upload(this.files[0])">
        <div class="step-wrapper">
          <img class="resizable" id="link">
          <div  class="editor " contenteditable="true" >        
        <% if n < 8 %>
           <%=
            if @content.nil? || @content[n.to_s].nil?
              render "presentation/partials/#{@example_slides[n]}"
            else
                @content[n.to_s].html_safe
            end
          %>
        <% else %>
          <h2> Slide <%= n +1 %> </h2>
        <% end %>
          </div>
        </div>
         <div class="sort-slides"><i class="icon-sort icon-22"></i></div>
         <div class="draggable_on"><i class="icon-move icon-222"></i></div>
         <div class="copy-slide"><i class="icon-copy icon-22"></i></div>
         <div class="new-slide"><i class="icon-plus icon-22"></i></div>
         <div class="delete-slide"><i class="icon-minus icon-22"></i></div>
         <div class="add-picture" onclick="document.querySelector('input').click()"><i class="icon-picture icon-22"></i></div>
        </div>
     
         
         <% end %>    
     
    </div>


 <%= javascript_include_tag "jquery-ui.js" %>
 
<script> 

  $(document).on('click', '.step', function() {
    $(this).find(".editor").focus();
   });
   
  
 


  $(document).on('touchstart click', 'nav ul li', function(){
    var steps = document.querySelectorAll(".step");
    for (var i = 0; i < (steps.length); i++) {
      steps[i].id = "slide"+(i+1);
    }
    var currTarget = $(this).attr('data-loc');
    $('html, body').stop().animate({
      scrollTop: $($('#' + currTarget)).offset().top
    }, 500);
  });

  storeContentFromContentMode();
  draggableAndSortable();
  parent.$("#style-mode").on("click", storeData);



    /* imugir img */
    window.ondragover = function(e) {e.preventDefault()}
    window.ondrop = function(e) {e.preventDefault(); upload(e.dataTransfer.files[0]); }
    function upload(file) {

        /* Is the file an image? */
        if (!file || !file.type.match(/image.*/)) return;

        /* It is! */
        document.body.className = "uploading";

        /* Lets build a FormData object*/
        var fd = new FormData(); // I wrote about it: https://hacks.mozilla.org/2011/01/how-to-develop-a-html5-image-uploader/
        fd.append("image", file); // Append the file
        fd.append("key", "6528448c258cff474ca9701c5bab6927"); // Get your own key http://api.imgur.com/
        var xhr = new XMLHttpRequest(); // Create the XHR (Cross-Domain XHR FTW!!!) Thank you sooooo much imgur.com
        xhr.open("POST", "http://api.imgur.com/2/upload.json"); // Boooom!
        xhr.onload = function() {
            // Big win!
            document.querySelector("#link").src = JSON.parse(xhr.responseText).upload.links.original;
            document.body.className = "uploaded";
        }
        // Ok, I don't handle the errors. An exercice for the reader.

        /* And now, we send the formdata */
        xhr.send(fd);
    }


 </script>


</body>



 
