<head>
  <title>ImpressJsApp</title>
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "impress-theme1.css", :media => "all" %>

  <%= stylesheet_link_tag "/assets/css/toggle-switch.css" %>
  <%= stylesheet_link_tag "/assets/default.css" %>
   <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css" %>
  <%= javascript_include_tag "/assets/scripts/jquery.min.js" %>
 <%= javascript_include_tag "/assets/build/jquery.popline.min.js" %> 
  <%= javascript_include_tag "/assets/scripts/colors.js" %>
  <%= javascript_include_tag "/assets/scripts/img.js" %>
 <%= javascript_include_tag "jquery-ui.js" %> 
  <%= javascript_include_tag "json.js" %> 
  <!--  jqDnR Recommended -->


 <script type="text/javascript">
    $(function(){
      document.execCommand('defaultParagraphSeparator', false, 'p');
      $(".editor").popline();
      $("body").data("mode", "edit");
       parent.$("#data-store").data("imageNum", 0 )
    });

  WebFontConfig = {
    google: { families: parent.$("#data-store").data('text')  
    }
  }
  fontLoad();  
 </script> 
  <style>
  .slide { 
    z-index: 1; 
    padding-top: 5px; }
  </style>

</head>
 <% if @wallpaper.nil? %>
      <body>
 <% else  %>
    <body style="background-image: url(<%= @wallpaper.html_safe %>)" >
 <% end %>

<nav>
  <ul class="slides-representation">
   <% @num_slides.times do |n| %>  
      <li class="slide-rep" data-loc="slide<%=n+1%>"><%=n+1%></li>
   <% end %>
  </ul>
   <div class="add-wallpaper"><i class="icon-desktop"></i></div>
</nav>



  <div class="container-fluid" id="sortable">
      <% @num_slides.times do |n| %>  
        <% if @background.nil? %>
            <div class="step <%= @shape_class %>" id="<%=n%>-slide">
        <% else  %>
           <div class="step <%= @shape_class %>" style="background-image: <%= @background[n.to_s].html_safe %>" id="<%=n%>-slide">
        <% end %>
         
        <div class="step-wrapper">
                    
         <%=
            if @content.nil? || @content[n.to_s].nil?
            else
                @content[n.to_s].html_safe
            end
          %>
    
        </div>
         <div class="sort-slides"><i class="icon-sort icon-22"></i></div>
         <div class="copy-slide"><i class="icon-copy icon-22"></i></div>
         <div class="new-slide"><i class="icon-plus icon-22"></i></div>
         <div class="delete-slide"><i class="icon-minus icon-22"></i></div>
         <div class="add-picture"><i class="icon-picture icon-22"></i></div>
         <div class="add-deco"><i class="icon-paper-clip  icon-22"></i></div>
         <div class="add-edit"><i class="icon-font icon-22"></i></div>
         <div class="add-background"><i class="icon-edit-sign icon-22"></i></div>
         <div class="add-icon"><i class="icon-flag icon-22"></i></div>
         
        </div>
     
         
         <% end %>    
     
    </div>


 
 
<script>   
  $(document).on('touchstart click', 'nav ul li', function(){
    var steps = document.querySelectorAll(".step");
    for (var i = 0; i < (steps.length); i++) {
      steps[i].id = "slide"+(i+1);
    }
    var currTarget = $(this).attr('data-loc');
    $('html, body').stop().animate({
      scrollTop: $($('#' + currTarget)).offset().top
    }, 500);
  });
 
  storeContentFromContentMode();
  draggableAndSortable();
  parent.$("#style-mode").on("click", storeData);

 </script>


</body>



 
