<head>
   <title>ImpressJsApp</title>
   <%= stylesheet_link_tag  "application", :media => "all" %>
   <%= javascript_include_tag "application" %>
   <%= csrf_meta_tags %> 
  
  
</head>
<body>
    <% unless @id.nil? %>
      <div id="id-data" data-presentationId='<%= @id %>'></div>
   <% end %>  
   <%= render "sessions/login" %>

   <% if logged_in? %> 
     <%= render "presentation/partials/list" %>
   <% end %>  
<div class="page-wrap">
   <div id="data-store"></div>   
      <div class="navbar">
         <div class="navbar-inner">
            <div class="container">
              <div class="span3">
                 <a  href="/"><div class="circle2">
                    <h1>iL</h1>
                </div></a>
              </div>
            
               <ul class="nav">
                  <li class="active">
                     <a href="/home.html">Build</a>
                  </li>
                  <li class="">
                     <a href="./customize.html">About</a>
                  </li>
                <% if logged_in? %> 
                   <li class="open-menu">  <a href="#pres-listing">
                           My Presentations
                         </a>
                  <li id="close-menu"> <a href="#">
                          My Presentations 
                          </a>
                  </li> 
                <% end %>

     <!--        <li class="open-menu"> ☰</li> -->   
               
                  <% unless logged_in? %>  
                      <li class="open-login-menu"><a href="#login-nav">
                           Log In</a>
                        </li>
                      <li id="close-login-menu"><a href="#">
                           close</a>
                        </li>
                      <!--   <a id="login-btn">Log In</a> -->
                  <% else %>
                    <li> <%= link_to "log out", session_path(session), method: "delete" %></li>
                  <% end %>
                  

               </ul>
               
            </div>           
      </div>
   <div class="container-fluid">
      <div class="row-fluid">
         <div class="span2">
         </br>
          <div class="disappear">
            <i class="icon-minus icon-2 btn-p" id="decrement_slide"></i>
            <div id="showNum">8</div>
            <i class="icon-plus icon-2 btn-p" id="addslide"></i>
         </div>
            <div class="separator"></div>
            <ul class="modes">
               <li><a id="style-mode" class=" mode appear" href="#">style mode</a></li> 
               <li><a id="content-mode" class="mode disappear toggle-buttons">content mode</a></li>
                <div class="separator"></div>
            </ul>
           <ul class="accordion">
               <li class="disappear">
                  <a  href="#">Slides Shape</a>
                  <ul  id="shape">
                     <!-- \ expanded submenu -->
                     <li><a id="rectangle" class="current btn-p" href="#">Rectangle</a></li>
                     <li><a id="circle" class="btn-p" href="#">Circle</a></li>
                     <li><a id="blank" class="btn-p" href="#">Blank</a></li>
                  </ul>
               </li>
               <!-- \ 2nd Menu Item -->
               <li class="disappear">
                  <a href="#">Choose Layout</a>
                  <ul id="layout">
                     <!-- \ submenu -->
                     <li><a id="vertical" class="current btn-p" href="#">Vertical</a></li>
                     <li><a id="linear" class="btn-p" href="#">Linear</a></li>
                     <li><a id="circlev1" class="btn-p" href="#">Circle I</a></li>
                     <li><a id="circlev2" class="btn-p" href="#">Circle II</a></li>
                     <li><a id="circlev3" class="btn-p" href="#">Circle III</a></li>
                     <li><a id="circlev4" class="btn-p" href="#">Circle IV</a></li>
                     <li><a id="verticalgrid" class="btn-p" href="#">Vertical Grid</a></li>
                     <li><a id="snakegrid" class="btn-p" href="#">Snake Grid</a></li>
                     <li><a id="deep" class="btn-p" href="#">Deep</a></li>
                     <li><a id="chain" class="btn-p"href="#">Chain</a></li>
                  </ul>
               </li>
               <!-- \ 3rd Menu Item -->
               <li class="disappear">
                  <a href="#">Choose Theme</a>
                  <ul id="theme">
                     <!-- \ submenu -->
                     <li><a id="basic" class="current btn-p" href="#">Basic</a></li>
                     <li><a id="textured" class="btn-p" href="#">Textured</a></li>
                     <li><a id="blank" class="btn-p" href="#">Custom</a></li>
                  </ul>
               </li>
               <!-- \ 4th Menu Item -->
               <li class="disappear">
                  <a href="#">Progress Bar</a>
                  <ul id="progress">
                     <!-- \ submenu -->
                     <li><a id="no-pbar" class="current btn-p" href="#">No</a></li>
                     <li><a id="pbar1" class="btn-p" href="#">Yes</a></li>
                  </ul>
               </li>
               <li class="disappear">
                  <a href="#">Slide Show</a>
                  <ul id="autobuttons">
                     <!-- \ submenu -->
                     <li><a id="noauto" class="current btn-p" href="#">No</a></li>
                     <li><a id="auto" class="btn-p" href="#">Yes</a></li>
                  </ul>
               </li>
               <li class="disappear">
                  <a href="#">Substeps</a>
                  <ul id="substepsbutton">
                     <!-- \ submenu -->
                     <li><a id="nosubsteps" class="current btn-p" href="#">No</a></li>
                     <li><a id="substeps" class="btn-p" href="#">Yes</a></li>
                  </ul>
               </li>
            </ul>
            <!-- / mainmenu -->
            <div class="separator disappear"></div>
            <!--  <div class="separator"></div> -->
          <% if logged_in? %>
           <% if @name == "" %>
              <input id="presentation-name" class="disappear" type="text" placeholder="<%= @name %>">
               <% else %>
              <input id="presentation-name" type="text" class="disappear" placeholder="Add Name">

           <% end %>
            <a id="save-presentation" class="green-button disappear">
            Save
            </a>
          <% else %>
             <input id="presentation-name" class="disappear" type="text" placeholder="Add Name">
             <a class="green-button disappear" href="/home#login-nav">
                Log in to Save
            </a>
          <% end %>

            <a id="download" class="green-button download disappear">
            Take Your Code
            </a>
            <div class="separator disappear"></div>
            <div class="arrows animated fadeInRightBig"></div>
         </div>

         <div class="span10">
            <iframe name="preview" id="preview"/></iframe>
            <div id="loading"></div>
         </div>
       
      </div>
       </div>
   </div>
      </div>
   </div>

    <script type="text/javascript">
   $('#preview').load(function() {
      $("#loading").css('display', 'none');
    });
   </script>
</body>