
<head>
  <title>ImpressTitle</title>
  <% if @substeps == "true" %>
    <%= stylesheet_link_tag "substeps.css", :media => "all" %>
  <% end %>
  <% if @theme == "textured" %>
      <%= stylesheet_link_tag "impress-theme2.css", :media => "all" %>
  <% elsif @theme == "basic" %>
     <%= stylesheet_link_tag "impress-theme1.css", :media => "all" %>
  <% elsif @theme == "blank" %>
     <%= stylesheet_link_tag "impress-theme3.css", :media => "all" %>
  <% end %>
  <% if @progress_bar == "pbar1" %>
     <%= stylesheet_link_tag "progressbar.css", :media => "all" %>

  <% end %>
  
  <% if @text.nil? %>
      <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Droid+Sans|Lato:400,900' rel='stylesheet' type='text/css'>
    <!--   <link href='http://code.jquery.com/jquery-1.10.2.min.js'>   -->
  <% else  %>
      <script>
        WebFontConfig = {
          google: { families: [ <%= @text.split(',').uniq.join(',').gsub(/[^,]+/, "'\\0'").html_safe %>] }

        }
         var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      </script>
   <% end %>


<%= javascript_include_tag "http://code.jquery.com/jquery-1.10.2.min.js" %>
</head>
 <% if @wallpaper.nil? %>
      <body class="impress-supported">
 <% else  %>
    <body class="impress-supported" style="background-image: url(<%= @wallpaper.html_safe %>)" >
 <% end %>
<div id="id-data" data-presentationId='<%= @id %>'></div>  
  <div id="impress">
    <% @num_slides.times do |n| %> 
    
    <% if @background.nil? %>
       <div class="step <%= @shape_class %>" id="<%=n%>-slide">
     <% else  %>
      <div class="step <%= @shape_class %>" style="background-image: <%= @background[n.to_s] %>" id="<%=n%>-slide">
    <% end %>
  
       
    
     
        <% if n < 8 %>
          <%=
            if @content.nil? || @content[n.to_s].nil?
              render "presentation/partials/#{@example_slides[n]}"
            else
                @content[n.to_s].html_safe
            end
          %>
        <% else %>
          <h2> Slide <%= n +1 %> </h2>
        <% end %>
      </div>
    <% end %>
  </div>



  <% if @progress_bar == "pbar1" %>
     <div class="progressbar"><div></div></div>
      <div class="progress"></div>
  <% end %>

  <% if @substeps == "true" %>
   <%= javascript_include_tag "substeps.js" %>
   <%= javascript_include_tag "navigation-substeps.js" %>
  <% elsif @substeps == "false" %>
   <%= javascript_include_tag "navigation" %>
  <% end %>

  <% if @progress_bar == "pbar1" %>
    <%= javascript_include_tag "progressbar.js" %>
  <% end %>

  <% if @automated == "true" && @substeps == "true" %>
   <%= javascript_include_tag "automated-substeps.js" %>
   <script> automatedPresentationWithSubsteps(); </script>
  <% elsif @automated == "true" && @substeps == "false" %>
   <%= javascript_include_tag "automated.js" %>
   <script> automatedPresentation(); </script>
  <% end %>


<% if @id %>
  <script>
     var fillUpData = function() {
       if ( $.isEmptyObject(parent.$("#data-store").data())) {
         console.log("empty")
         parent.$("#data-store").data("wallpaper", "<%= @wallpaper %>" );
         parent.$("#data-store").data("text", "<%= @text%>" );
         parent.$("#data-store").data("imageNum", "<%= @imageNum %>" );
        <% @num_slides.times do |n| %> 
         parent.$("#data-store").data("background[<%=n%>]","<%= @background[n.to_s] %>" );
         parent.$("#data-store").data('content[<%=n%>]' ,' <%= @content[n.to_s].squish.html_safe %> ');
        <% end %>
          } else {
        console.log("notempty");
        }
      };
       fillUpData();
  </script>
<% end %>



  <%= javascript_include_tag "impress" %>
  <%= javascript_include_tag "impress-layouts" %>

  <script>
     <% case @layout
        when "vertical" %>
         layoutVertical();
     <% when "linear" %>
         layoutLinear();
     <% when "circlev1" %>
         layoutCircleV1();
     <% when "circlev2" %>
         layoutCircleV2();
     <% when "circlev3" %>
         layoutCircleV3();
     <% when "circlev4" %>
         layoutCircleV4();
     <% when "deep" %>
         layoutDeep();
     <% when "chain" %>
         layoutChain();
     <% when "lineargrid" %>
         layoutLinearGrid();
     <% when "snakegrid" %>
         layoutSnakeGrid();
     <% when "verticalgrid" %>
        layoutVerticalGrid();
     <% end %>

    <% if @progress_bar == "pbar1" %>
         progressBar();
    <% end %>
  
        impress().init();
  </script>

  <script> var api = impress();</script>
   

</body>
</html>
