
<div id="signupcontainer">
    <%= form_for @user do |f| %>
       <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
          
         <h2>Sign Up</h2> 
         <p>Welcome to ImpressLab. We are still in closed beta that means everything is for free.</p> 
      <fieldset> 
          <div class="username">
          <%= f.text_field :username,  placeholder: "Username" %>
          </div>
          <div class="field">
          <%= f.text_field :email, placeholder: "Email"  %>
          </div>
          <div class="field" >
          <%= f.password_field :password, placeholder: "Password" %>
          </div>
          <div class="field">
          <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
          </div>
         <input name="commit" type="submit" value="Sign Up " class="green-button">
        <!--  <div class="actions green-button"><%= f.submit %></div> -->
      </fieldset> 
         <p class="or">Heve you been here before?</p> 
         <div id="go-to-log-in" class="green-button">Log In</div>
      <% end %>

</div>